.profile {
  max-width: 520px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid rgb(232, 142, 242);
}

.description {
  text-align: center;
}

.avatar {
  border-radius: 50%;
  background-color: rgb(233, 157, 238);
}

.name {
  display: block;
  font-size: large;
  font-weight: 900;
}

.tag {
  font-size: medium;
  color: grey;
}

.location {
  font-size: medium;
  color: grey;
}

.stats {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  background-color: rgb(226, 21, 241);
  height: 60px;
}

.label {
  display: block;
  color: white;
}

.quantity {
  display: block;
  font-size: medium;
  font-weight: 700;
}
